#screen_t4{
    position: absolute;
    top:15px;
    left: 250px;
}
#tram4T1{
    position: absolute;
    top:25px;
    left: 250px;
}
#tram4T2{
    position: absolute;
    top:25px;
    left: 550px;
}
#tram4T3{
    position: absolute;
    top:200px;
    left: 250px;
}




