#tram2t1{
    position: absolute;
    top:30px;
    left:250px;
 }
 #screen_t2{
     position: absolute;
     top:15px;
     left: 250px;
 }
 #tram2t2{
     position: absolute;
     top: 30px;
     left: 550px;
 }
 #tram2t3{
     position: absolute;
     top: 250px;
     left: 250px;
 }
 #tram2t4{
     position: absolute;
     top: 250px;
     left: 550px;
 }
 